* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: Graphik;
  src: url("Graphik_Web_Semibold_Regular\(1\).ttf");
}
.main {
  padding: 0 18%;
}

body {
  
  background-color: #14181C;
  font-family: Graphik;
}

.container {
  width: 100%;
  height: 70vh;
  background-image: url("https://a.ltrbxd.com/resized/sm/upload/wi/k1/cs/mn/suzume-1200-1200-675-675-crop-000000.jpg?v=9d6e30f1d6");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}

.header {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  padding-top: 0rem;
  background-image: linear-gradient(180deg,
      #14181c 0,
      rgba(20, 24, 28, 0.645) 16.56%,
      rgba(20, 24, 28, 0.702) 30.85%,
      rgba(20, 24, 28, 0.506) 43.77%,
      rgba(20, 24, 28, 0.294) 56.23%,
      rgba(20, 24, 28, 0.098) 69.15%,
      rgba(20, 24, 28, 0.025) 83.44%,
      rgba(20, 24, 28, 0));
}

.header:hover {
  transition: 0.4s;
  background-image: linear-gradient(180deg,
      #14181c 0, rgba(20, 24, 28, .945) 16.56%,
      rgba(20, 24, 28, .802) 30.85%,
      rgba(20, 24, 28, .606) 43.77%,
      rgba(20, 24, 28, .394) 56.23%,
      rgba(20, 24, 28, .198) 69.15%,
      rgba(20, 24, 28, .055) 83.44%,
      rgba(20, 24, 28, 0));
  ;

}

.logo {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  margin-top: 1rem;
}

.logo__image {
  width: 56px;
  height: 20px;
}

.logo__header {
  color: white;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  gap: 1rem;
  margin-top: 1rem;
  font-size: 14px;
  color: #d8e0e8;
}

.menu a {
  text-decoration: none;
  color: white;
}

.search {
  width: 9rem;
  height: 1.8rem;
  border-radius: 20px;
  border: none;
  background-color: hsla(0, 0%, 100%, 0.25);
}

.search:hover {
  transition: 0.4s;
  background-color: white;
}

.search::placeholder {
  float: right;
}

.hero {
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  gap: 2rem;
  color: white;
  font-size: 23px;
  font-family: "Tiempos Headline", sans-serif;
  text-align: center;
  line-height: 1.33333333;
}

.hero__button {
  padding: 0.625em 1.5em;
  letter-spacing: 0.075em;
  background-color: #00c030;
  border: none;
  color: white;
  border-radius: 3px;
  font-size: 16px;
  margin-bottom: 8px;
}

.hero__button:hover {
  cursor: pointer;
  background-color: #00af21
}

.begin {
  color: #789;
  text-align: center;
  font-size: 17px;
  margin-top: 30px;
}

.cards {
  display: flex;
  gap: 1rem;
  margin-top: 30px;
}

.card>a>img {
  width: 300px;
  height: 400px;
  border: 0.6px solid white;
  border-radius: 5px;
}

.card:hover {
  border: 2px solid green;
  cursor: pointer;
  border-radius: 5px;
}

.footer {
  background-color: #2C3440;
  width: 100%;
  padding: 0px;
  margin-top: 20px;
  text-align: center;
  font-size: 13px;
  padding-bottom: 15px;

  
}
.footer-nav {
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 5rem;
  padding-top: 15px;
  padding-bottom: 15px;
}
.footer-nav > li > a {
  color:#789;
  text-decoration: none;
}
.boxes {
  display: flex;
  justify-content:center;
  flex-wrap: wrap;
  width: 100%;
  gap: 1rem;
  margin-top: 30px;

  
}
.box {
  background-color:#789 ;
  width: 27.5%;
  height:12%;
  font-size: 15px;
  display: flex;
  gap: 13px;
  padding: 20px;
  color: #d8e0e8;

  
}
.box > p {
  font-weight: 900;

}
.box:nth-child(1):hover {
  background-color:#00af21
  }

.box:nth-child(4):hover {
  background-color: #00af21
  }

.box:nth-child(2):hover {
  background-color:#ff8001;
  }
.box:nth-child(5):hover {
  background-color:#ff8001;
}
.box:nth-child(3):hover {
  background-color: #40bcf4;
}
.box:nth-child(6):hover {
  background-color: #40bcf4;
}

.icon {
  font-size: 40px;
 
}
.footer > p {
color: #456;
}

