* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: Graphik;
  src: url("Graphik_Web_Semibold_Regular\(1\).ttf");
}

body {
  padding: 0 18%;
  background-color: black;
  font-family: Graphik;
}

.container {
  width: 100%;
  height: 70vh;
  background-image: url("https://a.ltrbxd.com/resized/sm/upload/wi/k1/cs/mn/suzume-1200-1200-675-675-crop-000000.jpg?v=9d6e30f1d6");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.header {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  padding-top: 0rem;
  background-image: linear-gradient(
    180deg,
    #14181c 0,
    rgba(20, 24, 28, 0.945) 16.56%,
    rgba(20, 24, 28, 0.802) 30.85%,
    rgba(20, 24, 28, 0.606) 43.77%,
    rgba(20, 24, 28, 0.394) 56.23%,
    rgba(20, 24, 28, 0.198) 69.15%,
    rgba(20, 24, 28, 0.055) 83.44%,
    rgba(20, 24, 28, 0)
  );
}

.header:hover {
  transition: 0.4s;
  background-image: linear-gradient(
    180deg,
    #14181c 0,
    rgba(20, 24, 28, 0.945) 16.56%,
    rgba(20, 24, 28, 0.802) 30.85%,
    rgba(20, 24, 28, 0.606) 43.77%,
    rgba(20, 24, 28, 0.394) 56.23%,
    rgba(20, 24, 28, 0.198) 69.15%,
    rgba(20, 24, 28, 0.055) 83.44%,
    rgba(20, 24, 28, 0)
  );
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  margin-top: 1rem;
}

.logo__image {
  width: 56px;
  height: 20px;
}

.logo__header {
  color: white;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  gap: 1rem;
  margin-top: 1rem;
  font-size: 14px;
  color: #d8e0e8;
}

.menu a {
  text-decoration: none;
  color: white;
}

.search {
  width: 9rem;
  height: 1.8rem;
  border-radius: 20px;
  border: none;
  background-color: hsla(0, 0%, 100%, 0.25);
}

.search:hover {
  transition: 0.4s;
  background-color: white;
}

.search::placeholder {
  float: right;
}

.hero {
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  gap: 2rem;
  color: white;
  font-size: 23px;
  font-family: "Tiempos Headline", sans-serif;
  text-align: center;
  line-height: 1.33333333;
}
.hero__button {
  padding: 0.625em 1.5em;
  letter-spacing: 0.075em;
  background-color: #00c030;
  border: none;
  color: white;
  border-radius: 3px;
  font-size: 16px;
  margin-bottom: 8px;
}

.hero__button:hover {
  cursor: pointer;
  background-color: #00af21;
}
